section.startup {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: left;
  height: 25em;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -25em;

  // box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12);
}

section.startup > .container {
  h5 {
    line-height: 1.2em;
  }

  .potion {
    background: white;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    padding: 0.8em;
    border: 2.5px solid $blue;
    box-shadow: $zLite;

    &:hover {
      // animation: hue-rotate 10s infinite;
      box-shadow: $z1;
    }
  }
}

@media #{$small-and-down} {
  section.startup {
    text-align: center;
  }
}

.md-text {
  margin-top: 0;
  font-size: 1.2em;
  line-height: 1.6em;
}

// Contact Form.

form.contact-form {
  padding-top: 0.8em;
}
