@import "materialize.scss";
@import "variables.scss";

section.landing {
  h1 {
    text-transform: uppercase;
    font-size: 2.3em;
    line-height: 1em;
  }

  .hi {
    font-size: 1.8em;
    margin-right: 0.2em;
  }

  p.large-text {
    margin-top: 0;
    font-size: 1.5em;
    line-height: 1.6em;
  }

  p.medium-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.6em;
  }

  p:not(.large-text):not(.medium-text) {
    font-size: 1.25em;
    line-height: 1.6em;
  }
}

section.landing-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media #{$small-and-down} {
  div.landing-hero, section.startup {
    text-align: center;
  }
}

// Contact Form.

form.contact-form {
  padding-top: 0.8em;
}
