@import "materialize.scss";
@import "variables.scss";

header.landing {
  width: 100%;
  padding: 3em;
  text-align: center;
  position: relative;
  background: linear-gradient(to left, #7474BF, #348AC7);

  > .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0.05;
    background-image: url("//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736");
  }

  > img {
    max-height: 140px;
    box-shadow: $zLite;
    border: 3px solid white;
    background-color: white;
  }

  h1 {
    opacity: .8;
    font-size: 2.3em;
  }

  h2 {
    margin: 0;
    opacity: .8;
    font-size: 1.5em;
  }

  nav {
    background: transparent;
    box-shadow: none;
    margin-top: 0.5em;
  }
}

ul.nav-links.side-nav#mobile-nav {
  padding-top: 2.5em;

  li > a {
    color: #555;
    font-size: 1.6em;
    font-weight: 300;
  }
}

.button-collapse {
  position: fixed;
  left: 1.8em;
  top: 1.8em;
  z-index: 5;

  display: flex;
  padding: 1em;

  color: #555; // #3789c6;
  box-shadow: $z1;
  background: white;
  border-radius: 50%;
}

#sidenav-overlay {
  z-index: 0;
}

a.brand-logo {
  display: none !important;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

@media #{$large-and-up} {
  .brand-logo {
    margin-left: 2em;
  }
}

ul.nav-links.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 0 5em;

  float: none;
  margin-top: 1em;
  margin-right: 0;

  li > a {
    color: #efefef;
    opacity: .9;
    font-size: 2.1em;
    text-transform: lowercase;
  }

  li:hover, li.active {
    a {
      opacity: 1;
    }
  }
}


.right {
  margin-right: 3em;

  li > a {
    text-transform: uppercase;
  }
}

.userView {
  box-shadow: $zLite;
  margin-bottom: 2em !important;
  padding-bottom: 1em !important;
  padding-left: 1.7em !important;

  .background {
    background-color: #2d2d30;
    background-image: url(/img/march.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -2.5em;
  }

  a {
    text-align: left;
  }

  a > img.circle {
    box-shadow: $z1;
    margin-top: -2em;
    border: 2px solid white;
  }
}
