@import "materialize.scss";
@import "variables.scss";

@import "header.scss";

@import "contact.scss";
@import "landing.scss";

main {
  padding-top: 3em;
}

body {
  color: #555;
}

b {
  font-weight: 500;
}

::selection {
  background: transparentize(#13a7c0, 0.4);
  color: white;
}

p.md-text {
  margin-top: 0;
  font-size: 1.3em;
  line-height: 1.6em;
}

.o8 {
  opacity: .8;
}

.middle {
  vertical-align: middle;
}

.material-icons.prefix {
  bottom: 0.9em;
}

.back-btn {
  margin-top: 1em;
}

.potion-icon {
  width: 7em;
  height: 7em;
  padding: 0.7em;
  background: white;
  border: 2px solid #0277bd;
}
