@import "materialize.scss";
@import "startup.scss";

body {
  color: #555;
}

b {
  font-weight: 500;
}

::selection {
  background: transparentize(#13a7c0, 0.4);
  color: white;
}

.brand-logo {
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

@media #{$large-and-up} {
  .brand-logo {
    margin-left: 2em;
  }
}

.right {
  margin-right: 3em;

  li > a {
    text-transform: uppercase;
  }
}

.intro {
  text-align: center;
}

.side-nav {
  padding-top: 2.5em;
}

.side-nav > li > a {
  color: #555;
  font-size: 1.6em;
  font-weight: 300;

  // padding-left: 2em;
  // text-align: center;
  // line-height: 1.6em;
  // text-transform: lowercase;
}

.button-collapse {
  cursor: pointer;
}
