@import "materialize.scss";
@import "variables.scss";

@import "comps/aside.scss";

@import "contact.scss";

::selection {
  background: transparentize(#13a7c0, 0.4);
  color: white;
}

.drag-target {
  width: 10px !important;
}

.o8 {
  opacity: .8;
}

.middle {
  vertical-align: middle;
}

.material-icons.prefix {
  bottom: 0.9em;
}

.back-btn {
  margin-top: 1em;
}

.potion-icon {
  width: 7em;
  height: 7em;
  padding: 0.7em;
  background: white;
  border: 2px solid #0277bd;
}

// Footers are non-critical, because they appear at the end of the page.

.c20 {
  width: 20%;
}

footer.page-footer {
  background: #353e48;
  box-shadow: 0 -4px 7px 0px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.footerIcons {
  width: 2.5em;
  height: 2.5em;

  fill: white;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}
