extends comp/page

block meta
  title It's Gone. | Phoomparin Mano

block body
  +header("/")
  main
    section.startup
      .container
        .row
          .col.m4.s12
            .center
              img.potion(src="/img/flask.blue.svg")
          .col.m8.s12
            h1 Page Not Found.
            h4 It seems like you've arrived at the wrong destination!

            a.btn.waves-effect.waves-light.blue.back-btn(href="/") Go Back
