extends comp/page

block meta
  title Resume | Phoomparin Mano

block body
  +header("/contact")
  main
    section.contact
      .container
        .card
          .card-content
            h3 Contact Information
            ul
              li Name: Phoomparin Mano
              li Profession: Full Stack Developer
              li Address: 81/107. Nong Chok, Lum Phak Chee. Suwinthawong Rd. Leelawadee Village. Bangkok, Thailand.
              li E-mail: phoomparin@gmail.com
              li Website (Personal Portfolio): https://phoom.me
              li GitHub: github.com/phoomparin
              li Facebook: facebook.com/phoomparin
              li LinkedIn: linkedin.com/phoomparin
