extends comp/page

block meta
  title Contact | Phoomparin Mano

mixin contact_info
  section.landing
    h4 Contact Information
    p
      | Name: Phoomparin Mano <br>
      | E-mail: <a href="mailto:work@phoom.in.th" target="_blank" rel="noopener noreferrer">work@phoom.in.th</a> <br>
      | Website: <a href="https://phoom.in.th" target="_blank" rel="noopener noreferrer">phoom.in.th</a> <br>
      | GitHub: <a href="https://github.com/phoomparin" target="_blank" rel="noopener noreferrer">github.com/phoomparin</a> <br>
      | Facebook: <a href="https://facebook.com/phoomparin.mano" target="_blank" rel="noopener noreferrer">fb.me/phoomparin.mano</a> <br>
      | Medium: <a href="https://medium.com/@phoomparin" target="_blank" rel="noopener noreferrer">medium.com/@phoomparin</a> <br>
      | LinkedIn: <a href="https://linkedin.com/phoomparin" target="_blank" rel="noopener noreferrer">linkedin.com/phoomparin</a>

mixin contact_form
  form.contact-form
    .input-field
      i.material-icons.prefix.up account_circle
      input.validate(name="name" placeholder="Mr. Adam Smith" type="text")
      label.active(for="name") What is your name?
    .input-field
      i.material-icons.prefix.up email
      input.validate(name="email" placeholder="name@example.com" type="email")
      label.active(for="email" data-error="That e-mail doesn't seem right.") What is your e-mail address?
    .input-field
      i.material-icons.prefix toll
      select.validate(name="purpose")
        option(value="" disabled) Please Choose an Option
        option(value="hi") Just sayin' hi!
        option(value="project" selected) I have a project in mind.
        option(value="team") I want you to be in my team.
        option(value="ask") I have something to ask.
      label What do you want to talk about?
    .input-field
      i.material-icons.prefix mode_edit
      textarea.validate.materialize-textarea(name="message")
      label(for="message") What would you like to tell me?
    .center
      button.btn.blue.waves-effect.waves-light.send Send Message
        i.material-icons.left message

mixin startup_potion
  section.startup
    .container
      .row
        .col.m4.s12
          .center
            img.potion(src="img/flask.blue.svg")
        .col.m8.s12
          h1 STARTUP<b>POTION</b>
          h5 MVP is the secret potion, they'll make everyone fall in love~!

block body
  +header("/contact")
  main
    .container
      .row
        .col.m6.s12
          +contact_info
        .col.m6.s12
          +contact_form
    +startup_potion
  +footer
