extends comp/page

block meta
  title Phoomparin Mano - Full Stack Developer

block body
  +header("/")
  main
    section.landing
      .container
        .row
          .col.s12
            .center
              h1 Site in Development.
              h4 See you real soon! ;)
