extends comp/page

block meta
  title Phoomparin Mano | Full Stack Developer

mixin introduction
  .container
    section.landing
      h2 I'm Phoomparin Mano. Nice to meet you!
      p
        | I'm interested in all kinds of <b>software development</b>, and took it as my career.
        | I've learned to code <abbr title="It has been seven years already.">since I was eight</abbr>, and
        | I <a href="/resume">haven't ever stopped loving it ever since</a>. I also have a strong interest in the <b>startup culture</b>,
        | <b>product development</b>, and the business side of things.
      p
        | When faced with problems, I tackle them with my creative thinking and coding skills to build awesome projects,
        | and that's what drives my passion in software development.
      p
        | When developing software, I tend to think about practicality, user experience,
        | software development principles and business viability.
        | The most important thing is that <b>we'll do it together</b>!

mixin capabilities
  .container
    section.landing
      p.large-text
        | What can you develop or make? What kind of software should my project be?
      p
        | I'm able to develop many types of software, such as progressive web apps, websites,
        | mobile apps, desktop programs, real-time microservice backends, and even IoT devices!
      p
        | I've used many <a href="/resume#stack"><b>modern tools and technologies</b></a> to
        | develop various <a href="/portfolio"><b>projects and prototypes</b></a> to resolve problems, but I prefer to
        | work with <b>JavaScript</b> at the moment because I'm impressed with how expressive it is.

mixin startups
  .container
    section.landing
      p.large-text
        | I'm the founder of a startup! Can you develop an MVP for us?
      p
        | If you're a startup founder or thinking of becoming one, I'd love to hear your ideas and help you out!
        | I became very obsessed with the startup culture since 2015, so I'm very passionate about
        | <a href="/contact#startup"><b>developing MVPs</b></a> for your startups.
        | Simply <a href="/contact#startup"><b>let me know</b></a>, and we'll surely be talking in no time, I promise!

mixin contact
  .container
    section.landing
      p.large-text
        | How can I contact you? Are you available for hire?
      p
        | I would <b>love to talk with you</b>, and please don't hesitate to say hello!
      p
        | If you have a project in mind, wanted to hire or recruit me, or let me be in your team,
        | please contact me via <a href="/contact"><b>the contact form</b></a>.
        | It's perfectly fine if you're still unsure, changed your mind later, or just wanted to say hi.
        | It's simple and doesn't cost anything. Just <a href="/contact"><b>give it a try!</b></a>
        |

mixin skills
  .container
    section.landing
      p.large-text
        | What technologies can you develop with, and what skills do you have?
      p
        | React, Redux, Feathers, Express, Node.js, Socket.io, Sass, PostCSS, Python, Electron, Docker and Kubernetes.

mixin splash(type, overlay)
  .splash.z-depth-1(data-is=type)
    if overlay
      .overlay(data-is=overlay)
    .content
      block

block body
  +header("/", "landing")
    .logo(style="transform: rotateZ(330deg)") P|m
    .tagline I'm a full stack developer who make things come true with code
    h1 I love to be a part of the next big thing.
  main
    +introduction
  +footer
