extends comp/page

block meta
  title Resume | Phoomparin Mano

block body
  +header("/labs")
  main
    section.contact
      .container
        h2 Axi Labs: My Projects and Works
        .card
          .card-content
            Hello :P
