extends comp/page

block meta
  title Axi Labs | Phoomparin's Works

  //- h2 Axi Labs: My Projects and Works

block body
  +header("/labs")
  main
    section.contact
      .container
        .card
          .card-content
