extends comp/page

block meta
  title Resume | Phoomparin Mano

block body
  +header("/labs")
  main
    section.contact
      .container
        h2 Axi Labs: My Projects and Works
        .card
          .card-content
            .btn.pink.waves-effect#pink Pink
            .btn.yellow.darken-4.waves-effect#yellow Yellow
            .btn.indigo.waves-effect#indigo Indigo
            .btn.orange.darken-3.waves-effect#orange Orange
            .btn.amber.darken-3.waves-effect#amber Amber
            .btn.purple.darken-3.waves-effect#purple Purple
            .btn.teal.darken-2.waves-effect#teal Teal

            .btn.waves-effect#reset Reset
