extends comp/page

block meta
  title Portfolio | Phoomparin Mano

block body
  +header("/portfolio")
  main
    section.contact
      .container
        section.landing
          h2 Project Portfolio: The Axi Labs
          p
            | This section is solely dedicated to the projects I'm currently developing, and that I've done in the past.
          p
            | For awards, achievements and experiences, please visit <a href="/resume">the resume section</a> instead.

          h3 Recent Projects
          .row
            .col.m6
              h5 Axi Platform (2017)
              ul
                li
                  li High Availability Physical Web Solutions Platform (Feathers &amp; Docker)
                  li One Tap Interaction with Progressive Web Apps (React &amp; Redux)
                  li Turn IoT Devices into Eddystone Beacons to use with Nearby Notifications
                  li GitHub: github.com/phoomparin/Axi
            .col.m6
              h5 PrintAt (2017)
              ul
                li
                  li Public Printing Platform for the masses. Print Anywhere, Instantly.
                  li Find Nearby Printers, Upload File, Wait for Queues and get your papers.
                  li Built with Axi Platform (Python, MQTT &amp; CUPS for Remote Printing)
                  li Production: printat.co
                  li GitHub: github.com/phoomparin/PrintAt
          .row
            .col.m6
              h5 FlipED (2016-2017)
              ul
                li
                  li Flipped Classroom Platform
                  li Intuitive Editing with Interative Custom Content
                  li Real-Time Progressive Web App (Feathers &amp; WebSocket)
                  li Responsive, Custom-Built UI Component (React &amp; Sass)
                  li Production: fliped.xyz
                  li GitHub: github.com/phoomparin/FlipED
            .col.m6
              h5 vSchool (2015-2016)
              ul
                li
                  li Single-Page Webapp for School Management, with Material Design
                  li ES5, Python, Polymer 0.5, Web Components &amp; Django REST Framework
                  li Reverse Engineered School's Grading Client &amp; Migrated Visual FoxPro DB to SQLite
  +footer
