extends comp/page

block meta
  title Resume | Phoomparin Mano

block body
  +header("/resume")
  main
    section.resume
      .container
        .row
          .col.m6
            .card
              .card-content
                h3 Awards &amp; Achievements

                ul
                  li National Software Contest #19 (2017) by NECTEC: 1st Place Winner (National)
                  //- li Axi Platform &amp; PrintAt
                  li National Software Contest #18 (2016) by NECTEC: 2nd Place Winner (National)
                  //- li FlipED &amp; vSchool
                  li Student Software Contest #66 (2017) by OBEC: 3rd Place Winner (National)
                  //- li PrintAt
                  li Student Software Contest #65 (2016) by OBEC: 1st Place Winner (National)
                  //- li vSchool
                  li Student Programming Contest #64 (2015) by OBEC: Gold Medal
          .col.m6
            .card
              .card-content
                h4 Experiences
                ul
                  li Will be interning at iTAX for The Internship Program 2017
                  li Torkla Project #4 (2016) by SCB Foundation: Successfully Completed
                  li Speaker at SEC on the topic of DevOps and Kubernetes
                  li Joined Thailand ICT Awards 2016 and Queen Sirikit IT Project Contest 2016


        .card
          .card-content
            h4 Hackathons
            .row
              .col.m6
                ul
                  li UHack Thammasart Hackathon by Enterprise Lab: Best E-Payment Award Winner
                  li YSetter Reality Hackathon at 3DS Interactive: 1st Place Winner
                  li Local Hack Day Hackathon by Enterprise Lab: 2nd Place Winner
              .col.m6
                ul
                  li PrintAt Prototype (Local Hack Day)
                    li GitHub: github.com/phoomparin/PrintAt-proto

                  li NongTuu Prototype: Instant Lawyer bot (YSetter Reality)
                    li GitHub: github.com/phoomparin/nongtuu

                  li HotelSuite: Instant Hotel Check-In and Room Control (UHack TU)
                    li GitHub: github.com/phoomparin/HotelSuite-proto

        a#stack
        .card
          .card-content
            h3 Skills
            .row
              .col.m6
                h4 Proficient
                h5 Most Preferred and Beloved
                ul
                  li Modern JavaScript (ES6, ES7)
                  li Web Frontend Basics (HTML/CSS)
                  li React &amp; Redux
                  li Feathers &amp; Socket.io
                  li Node.js &amp; Express
                  li Sass &amp; PostCSS
              .col.m6
                h4 Good
                h5 Highly Comfortable
                ul
                  li Docker Swarm, Docker Compose, Docker Stack
                  li MongoDB &amp; Mongoose
                  li Python 3
                  li Electron &amp; Nw.js
                  li Redis &amp; NginX
                  li Webpack &amp; Babel
            .row
              .col.s6
                h4 Average
                h5 Had used in the past project(s)
                ul
                  li Django &amp; Django REST Framework
                  li LAMP Stack (Linux, Apache, MySQL &amp; PHP)
                  li Meteor.js
                  li Polymer
                  li MQTT
                  li Kubernetes
                  li C++ &amp; QT 5
              .col.s6
                h4 Beginner
                h5 Still learning about it
                p Pretty much everything else ;)

        .card
          .card-content
            h4 Other Skills and Hobbies (Non-Technical)
            ul
              li English Communication and Writing
              li General Startup and Business Knowledge
  +footer
