extends comp/page

mixin sp
  .nice
    .indic
    h1
      span STARTUP
      b POTION
  .fsd-label
    span We make MVPs that <br> investors love
    .inner

block meta
  title Startup Potion: MVPs that investors love.

block body
  +header("/startup")
  main
    section.startup
      .container
        .row
          .col.m4.s12
            .center
              img.potion(src="img/flask.blue.svg")
          .col.m8.s12
            h1 STARTUP<b>POTION</b>
            h5 MVP is the secret potion, they'll make investors fall in love~!
