@import "nav.scss";

// Circle Profile
.profile {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.8em;

  width: 130px;
  height: 130px;
  border: 3px solid white;
  border-radius: 50%;

  background-color: white;
  background-image: url("/img/profile.jpg");
  background-size: cover;
}

header.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  text-align: center;

  height: 70vh;
  min-height: 30em;
  box-shadow: $z1;

  background-color: #333;
  background-image: url("/img/lonely_commute.min.jpg"); // mbp_code
  // background-image: linear-gradient(to left, rgb(71, 118, 230), rgb(142, 84, 233));
  background-size: cover;
  background-position: center;

  h1, h2 {
    opacity: .8;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  h1 {
    margin: 0.5em 0;
    font-size: 2.3em;
  }

  h2 {
    margin: 0;
    font-size: 1.5em;
  }
}

header.hero > .overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: black; // #333
  opacity: 0.65;
}

header.hero > nav {
  position: absolute; // Or fixed
  left: 0;
  bottom: 2.5em;
  z-index: 1;

  background: transparent;
  box-shadow: none;
  padding: 0 1em;
}

header.hero > .wrapper {
  z-index: 1;
}

@media #{$medium-and-up} {
  header.hero > .wrapper {
    padding-bottom: 9.5vh;
  }
}

@media #{$small-and-down} {
  header.hero > .wrapper > .profile {
    margin-bottom: 4em !important;
  }
}
