// Large Navigation in Header.
// This is heavily inspired by webonise.co.uk!
nav {
  width: 100%;

  ul.nav-links.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    float: none;
    padding: 0;
    margin-top: 1em;
    margin-right: 0;
    list-style-type: none;

    li > a {
      color: #efefef;
      opacity: .9;
      font-size: 2.1em;
      text-transform: lowercase;
    }

    li:hover, li.active {
      a {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 800px) {
    ul.nav-links.right {
      padding: 0 5em;
    }
  }

  @media #{$large-and-up} {
    ul.nav-links.right {
      padding: 0 8em;
    }
  }
}
