footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text My Bio
        p.grey-text.text-lighten-4 Hello, World!
      .col.l3.s12
        h5.white-text Links
      .col.l3.s12
        h5.white-text Social Network
  .footer-copyright
    .container
      Developed by Phoomparin Mano.
