- var pages = {"/": "about", "/resume": "resume", "https://github.com/phoomparin": "works", "https://medium.com/@phoomparin": "blog", "/contact": "contact"}

mixin links(current)
  each name, link in pages
    li.link(class=link === current ? "active" : "")
      a(href=link target=link.startsWith("https://") ? "_blank" : "")= name

mixin nav(page)
  aside.hide-on-med-and-up
    a.button-collapse(data-activates="mobile-nav")
      i.material-icons menu
    ul.nav-links.side-nav#mobile-nav
      li
        .userView
          .background
          a(href="#!")
            img.circle(src="/img/profile.jpg" alt="Profile")
          a(href="#!")
            span.white-text.name Phoomparin Mano
          a(href="mailto:work@phoom.in.th")
            span.white-text.email work@phoom.in.th
      +links(page)
  nav.hide-on-small-only
    .nav-wrapper
      ul.nav-links.right
        +links(page)

mixin header(page, ctx)
  header.hero.white-text(class=ctx)
    .overlay
    .wrapper
      if block
        block
      else
        .profile.z-depth-1
        h1 PHOOMPARIN<b>MANO</b>
        h2 Full Stack Developer
        //- a.btn.s-btn.waves-effect.waves-light Contact Me
    +nav(page)
