- var pages = {"/": "about", "/resume": "resume", "/portfolio": "portfolio", "/contact": "contact"}

mixin links(current)
  each name, link in pages
    li.link(class=link === current ? "active" : "")
      a(href=link target=link.startsWith("https://") ? "_blank" : "")= name

mixin nav(page)
  aside.hide-on-med-and-up
    a.button-collapse(data-activates="mobile-nav")
      i.material-icons menu
    ul.nav-links.side-nav#mobile-nav
      li
        .userView
          .background
          a(href="#!")
            img.circle(src="img/me.jpg")
          a(href="#!")
            span.white-text.name Phoomparin Mano
          a(href="mailto:work@phoom.in.th")
            span.white-text.email work@phoom.in.th
      +links(page)
  nav.hide-on-small-only
    .nav-wrapper
      a.brand-logo(href="/")
        span PHOOMPARIN
        b MANO
      ul.nav-links.right
        +links(page)

mixin header(page)
  header.hero.white-text.z-depth-1
    .bg
    .profile.circle
    h1
      span PHOOMPARIN
      b MANO
    h2 Full Stack Developer
    +nav(page)
