include header
include footer

mixin info
  meta(name="author" content="Phoomparin Mano")
  meta(name="description" content="Phoomparin is a full stack developer from Thailand with strong expertise in JavaScript, web and mobile application, and developing MVPs for startups.")
  meta(name="application-name" content="Phoomparin Mano")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-title" content="Phoomparin Mano")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="apple-touch-icon" href="/img/icon.png")
  meta(name="theme-color" content="#353e48")
  link(rel="icon" href="/img/favicon.ico")
  link(rel="icon" sizes="192x192" href="/img/icon.png")
  link(rel="shortcut icon" href="/img/icon.png")
  link(rel="manifest" href="/manifest.json")
  link(rel="canonical" href="https://phoom.in.th")

mixin scripts
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js" defer)
  script(src="/js/main.js" defer)
  script(src="/js/pjax.js" async defer)
  script(src="/js/pace.min.js" async defer)
  script(src="/js/typer.js" async defer)
  script(src="https://www.google-analytics.com/analytics.js" async)
  script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');

- var fonts = "Roboto:300,400|Material+Icons|Slabo+27px|Montserrat:400"

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
    block meta
      title Phoomparin Mano - Full Stack Developer
    +info
    link(rel="stylesheet" href="/css/critical.css" lazyload="1")
  body
    block body
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=" + fonts)
    +scripts
